{% load static %}

<html>
    <head>
        <title>Articles Page</title>
        <link rel="stylesheet" href="{% static 'static/styles.css' %}">
    </head>
    <body>
        <header class="wrapper">
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                    <li>
                        <form class="logout_link" action="{% url 'accounts:logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
                    </li>
                    <li><a href="{% url 'articles:create' %}">New Article</a></li>
                    {% else %}
                    <li><a href="{% url 'accounts:login' %}">Login</a></li>
                    <li><a href="{% url 'accounts:signup' %}">Signup</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <div class="wrapper">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
